.footer {
    padding: 230px 0;
}

.footer .contact-us h6 {
    font-size: 34px;
    font-weight: 400;
}

.footer .contact-us p {
    font-size: 20px;
    font-weight: 300;
    padding: 17px 215px 15px 0;
}

.footer .contact-us .icons ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.footer .contact-us .icons ul li {
    background-color: #000;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
}

.footer .contact-us .icons ul li:not(:first-child) {
    margin-left: 15px;
}

.footer .contact-us .icons .icon {
    color: #FFF;
}

.footer .contact-us .icons .icon i {
    font-size: 22px;
}

.footer .contact-us .icons ul li:hover {
    background-color: #fff;
}

.footer .contact-us .icons ul li:hover .icon {
    color: #000;
}

.footer .footer-list h6 {
    font-size: 34px;
    font-weight: 400;
}

.footer .footer-list ul {
    list-style: none;
    padding-left: 0;
    padding-top: 17px;
}

.footer .footer-list ul li:not(:first-child) {
    margin-top: 4px;
}

.footer .footer-list ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #000;
    border-bottom: 2px solid transparent;
    transition: 0.2s border-bottom ease-in-out;
}

.footer .footer-list ul li a:hover {
    border-bottom: 2px solid #000;
}

@media (max-width: 1024.98px) {
    .footer .contact-us p {
        padding: 17px 38px 15px 0;
    }
}

@media (max-width: 768.98px) {
    .footer .contact-us p {
        padding: 17px 0 15px 0;
    }
}

@media (max-width: 575.98px) {
    .footer .contact-us h6 {
        font-size: 28px;
    }

    .footer .contact-us p {
        font-size: 16px;
    }

    .footer .contact-us .icons ul li {
        width: 28px;
        height: 28px;
        line-height: 29px;
    }

    .footer .contact-us .icons .icon i {
        font-size: 19px;
    }

    .footer .footer-list h6 {
        font-size: 28px;
    }

    .footer .footer-list ul li a {
        font-size: 17px;
    }
}