.sec-three h2{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
}
.sec-three p{
    font-size: 21px;
}

@media (max-width: 768.98px) { 
    .sec-three h2{
        font-size: 32px;
    }
    .sec-three p{
        font-size: 15px;
    }
 }

 @media (max-width: 575.98px) { 
    .sec-three h2{
        font-size: 28px;
    }
    .sec-three p{
        font-size: 13px;
    }
  }